{% extends "_template.html" %}

{% set title = 'Number' %}

{% block content %}
<h2>Range</h2>
Use <code>min()</code> or <code>max()</code> to specify a minimum/maximum value.

<pre>
var ss = new Seasoner();
ss.add(target, 'someProperty').min(0);
</pre>

<div id="minExampleContainer" class="exampleContainer">
</div>

<p>If you specify both minimum and maximum value, slider control will be appear.</p>

<pre>
var ss = new Seasoner();
ss.add(target, 'someProperty').min(0).max(100);
</pre>

<div id="sliderExampleContainer" class="exampleContainer">
</div>

<h2>Stepping</h2>
<p>You can also specify a step of value using <code>step()</code>.</p>

<pre>
var ss = new Seasoner();
ss.add(target, 'someProperty').min(0).max(100).step(10);
</pre>

<div id="stepExampleContainer" class="exampleContainer">
</div>


<h2>List</h2>
TODO:
{% endblock %}

{% block script %}
var params = {
	number: 0,
	min: 10,
	max: 25,
	min_max: 50,
	step: 50
};

var ss = new Seasoner();
ss.add(params, 'number');
ss.add(params, 'min').min(0);
ss.add(params, 'max').max(100);
ss.add(params, 'min_max').min(0).max(100);
ss.add(params, 'step').min(0).max(100).step(10);

var minParams = {
	someProperty: 50
};
var minExample = new Seasoner({
	autoPlace: false
});
minExample.add(minParams, 'someProperty').min(0);
document.getElementById('minExampleContainer').appendChild(
	minExample.getElement()
);

var sliderParams = {
	someProperty: 50
};
var sliderExample = new Seasoner({
	autoPlace: false
});
sliderExample.add(sliderParams, 'someProperty').min(0).max(100);
document.getElementById('sliderExampleContainer').appendChild(
	sliderExample.getElement()
);

var stepParams = {
	someProperty: 50
};
var stepExample = new Seasoner({
	autoPlace: false
});
document.getElementById('stepExampleContainer').appendChild(
	stepExample.getElement()
);
stepExample.add(stepParams, 'someProperty').min(0).max(100).step(10);
{% endblock %}
