html {
	--themes-background-color: #{$demo-result-bg-color};

	color: $base-fg-color;
	font-family: $font-family;
	font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $base-heading-color;
	font-weight: 500;
	letter-spacing: 0.01em;
}
code {
	font-family: $font-family-mono;
}
pre {
	font-family: $font-family-mono;
}
strong {
	color: $base-heading-color;
}

:root .tp-dfwv {
	top: ($global-header-height + 8px);
}
