html {
	--themes-background-color: #{$demo-result-bg-color};

	color: $base-fg-color;
	font-family: $font-family;
	font-size: 16px;
}

code {
	font-family: $font-family-mono;
}
pre {
	font-family: $font-family-mono;
}
