:root.index {
	.pageHeader_innerLayout {
		@include wide() {
			padding-bottom: 128px;
			padding-top: 128px;
		}
	}
	.pageHeader_titleLayout p {
		@include nonwide() {
			hyphens: auto;
		}
	}
	.pageHeader_titleLayout p {
		@include nonwide() {
			hyphens: auto;
		}
	}
}

:root.theming {
	.pageHeader {
		background: url(https://source.unsplash.com/u27Rrbs9Dwc/1600x900) no-repeat
			center;
		background-size: cover;
	}
	.pageHeader_titleLayout {
		h1,
		p {
			color: rgba(white, 0.8);
		}
	}
}
