html,
body,
pre {
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1rem;
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding: 0;
}
pre {
	display: block;
}
dl,
ol,
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	margin: 0;
	padding: 0;
}
