$key-hue: 235deg;

$a-color: hsl(12deg, 50%, 50%);
$a-hover-background-color: rgba($a-color, 0.1);
$background-color: hsl($key-hue, 12%, 98%);
$color: hsl($key-hue, 20%, 20%);
$code-block-background-color: hsl($key-hue, 10%, 91%);
$code-block-example-background-color: hsl($key-hue, 10%, 85%);
$code-block-text-box-background-color: hsl($key-hue, 10%, 78%);
$hero-background-color: darken($background-color, 10%);
$menu-background-color: hsla($key-hue, 10%, 30%, 0.95);
$menu-color: hsl($key-hue, 10%, 60%);

$font-family-sans: Verdana, sans-serif;
$font-family-mono: Menlo, Courier, monospace;

$content-width: 620px;
$pane-width: 250px;
$pane-narrow-width: 220px;
$menu-width: $pane-width;
$menu-button-size: 60px;
$narrow-width: $content-width + $menu-width * 2;
$sketch-block-narrow-width: 500px;

@mixin clearfix() {
	&:after {
		clear: both;
		content: "";
		display: block;
	}
}

* {
	box-sizing: border-box;
}
html {
	background-color: $background-color;
	color: $color;
	font-family: $font-family-sans;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	position: relative;
}
h1 {
	font-size: 2.0rem;
	margin: 0 0 1.0rem;
	text-transform: capitalize;
}
h2 {
	font-size: 1.5rem;
	margin: 4.0rem 0 1.0rem;
	text-transform: capitalize;
}
pre {
	font-family: $font-family-mono;
	font-size: 0.95rem;
	line-height: 1.6;
	margin: 0;
	padding: 0;

	& > code,
	& > .hljs {
		background-color: transparent;
		padding: 0;
	}
}
p {
	line-height: 1.8;
	margin: 1.0rem 0;
}
p + p {
	margin-top: 0.5rem;
}
dl, ol, ul {
	margin: 1.0rem 0;
}
li + li {
	margin-top: 0.5rem;
}
code {
	background-color: hsl($key-hue, 10%, 91%);
	border-radius: 2px;
	color: hsl($key-hue, 20%, 50%);
	font-family: $font-family-mono;
	padding: 0 0.3rem;
}
a {
	color: $a-color;
	transition: background-color 0.2s ease-out;

	&:hover {
		background-color: $a-hover-background-color;
	}
}

.hero {
	background-color: $hero-background-color;
	height: 300px;
	position: relative;

	@media (max-width: $narrow-width) {
		height: 240px;
	}

	@at-root {
		&_body {
			height: 100px;
			position: absolute;
			margin: auto;
			top: 0;
			bottom: 0;
			width: 100%;
		}
		&_title {
			color: rgba($color, 0.3);
			font-size: 2.6rem;
			font-weight: bold;
			letter-spacing: 0.05rem;
			margin: auto 0;
			position: absolute;
			text-align: center;
			top: 0;
			width: 100%;
		}
		&_paneContainer {
			bottom: 0;
			box-shadow: 0 1px 3px rgba(black, 0.3);
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			width: $pane-width;
		}
	}
}
.content {
	margin: 0 auto;
	padding: 60px 30px;
	position: relative;
	width: $content-width;

	@media (max-width: $narrow-width) {
		padding: 30px;
		width: auto;
	}

	& > *:last-child {
		margin-bottom: 0;
	}
}
.menu {
	@at-root {
		&_button {
			appearance: none;
			background-color: transparent;
			border-width: 0;
			color: $color;
			cursor: pointer;
			font-size: 1.5rem;
			height: $menu-button-size;
			opacity: 0.3;
			position: fixed;
			left: 0;
			top: 0;
			transition: color 0.3s ease-in-out, opacity 0.15s ease-out;
			width: $menu-button-size;

			&:hover {
				opacity: 1.0;
			}
			&:focus {
				outline: none;
			}
			&#{&}-expanded {
				color: $menu-color;
			}
		}
		&_body {
			background-color: $menu-background-color;
			box-shadow: 0 1px 3px rgba(black, 0.3);
			bottom: 0;
			color: $menu-color;
			left: -$menu-width;
			overflow-y: auto;
			padding: $menu-button-size 0 0;
			position: fixed;
			top: 0;
			transition: left 0.3s ease-in-out;
			width: $menu-width;

			&#{&}-expanded {
				left: 0;
			}

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			li {
				margin: 0;
				padding: 0;
			}
			a {
				color: hsl($key-hue, 10%, 80%);
				display: block;
				text-decoration: none;

				&:hover {
					background-color: hsla($key-hue, 50%, 90%, 0.1);
				}
			}
		}
		&_title {
			display: block;
			padding: 0.5rem 30px;
			white-space: nowrap;
		}
		&_submenu {
			margin: 0 0 0.5rem;
			padding-left: 1.0rem;
		}
	}
}
.codeBlock {
	background-color: $code-block-background-color;
	border-radius: 2px;
	color: #888;
	margin: 1.0rem 0;
	overflow: hidden;

	@at-root {
		&_section {
			@include clearfix();

			padding: 20px;
			position: relative;

			&#{&}-example {
				background-color: $code-block-example-background-color;
			}
		}
		&_paneContainer {
			box-shadow: 0 1px 3px rgba(black, 0.3);
			margin: 0 auto;
			width: $pane-width;

			@media (max-width: $narrow-width) {
				max-width: $pane-width;
				width: auto;
			}
		}
		&_textBox {
			background-color: $code-block-text-box-background-color;
			border-radius: 2px;
			border-width: 0;
			color: darken($code-block-text-box-background-color, 35%);
			font-family: $font-family-mono;
			font-size: 0.9rem;
			height: 139px;
			line-height: 1.8;
			outline: none;
			padding: 10px;
			resize: none;
			white-space: pre;
			width: 100%;
		}
	}
}
.twoColumnLayout {
	@include clearfix();

	@at-root {
		&_leftColumn {
			float: left;
			padding-right: 10px;
			width: 50%;

			@media (max-width: $narrow-width) {
				float: none;
				padding-right: 0;
				width: auto;
			}
		}
		&_rightColumn {
			float: left;
			padding-left: 10px;
			width: 50%;

			@media (max-width: $narrow-width) {
				float: none;
				padding-left: 0;
				padding-top: 20px;
				width: auto;
			}
		}
	}
}
.sketchBlock {
	background-color: white;
	border: rgba(black, 0.1) solid 1px;
	height: 450px;
	overflow: hidden;
	position: relative;

	@media (max-width: $sketch-block-narrow-width) {
		height: auto;
	}

	@at-root {
		&_sketchLayout {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 250px;
			top: 0;

			@media (max-width: $sketch-block-narrow-width) {
				height: 240px;
				position: relative;
				right: auto;
			}
		}
		&_paneLayout {
			box-shadow: 0 1px 3px rgba(black, 0.3);
			position: absolute;
			right: 0;
			top: 0;
			width: 250px;

			@media (max-width: $sketch-block-narrow-width) {
				position: static;
				right: auto;
				width: auto;
			}
		}
		&_sketch {
			display: block;
		}
		&_ad {
			bottom: 0;
			left: 0;
			position: absolute;

			a {
				background-color: rgba(black, 0.2);
				color: white;
				display: block;
				font-size: 0.8rem;
				padding: 3px 6px;
				text-decoration: none;

				&:hover {
					background-color: rgba(black, 0.5);
				}
			}
		}
	}
}
