$key-hue: 220deg;

$a-color: hsl(12deg, 50%, 50%);
$a-hover-background-color: rgba($a-color, 0.1);
$background-color: hsl($key-hue, 12%, 98%);
$color: hsl($key-hue, 20%, 20%);
$code-block-background-color: hsl($key-hue, 10%, 91%);
$code-block-example-background-color: hsl($key-hue, 10%, 85%);
$code-block-text-box-background-color: hsl($key-hue, 10%, 78%);
$font-family-sans: Verdana, sans-serif;
$font-family-mono: Menlo, Courier, monospace;

@mixin clearfix() {
	&:after {
		clear: both;
		content: "";
		display: block;
	}
}

* {
	box-sizing: border-box;
}
html {
	background-color: $background-color;
	color: $color;
	font-family: $font-family-sans;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 2.0rem;
	margin: 0 0 1.0rem;
	text-transform: capitalize;
}
h2 {
	font-size: 1.5rem;
	margin: 4.0rem 0 1.0rem;
	text-transform: capitalize;
}
pre {
	font-family: $font-family-mono;
	font-size: 0.95rem;
	line-height: 1.6;
	margin: 0;
	padding: 0;

	& > code,
	& > .hljs {
		background-color: transparent;
		padding: 0;
	}
}
p {
	line-height: 1.8;
	margin: 1.0rem 0;
}
p + p {
	margin-top: 0.5rem;
}
dl, ol, ul {
	margin: 1.0rem 0;
}
li + li {
	margin-top: 0.5rem;
}
code {
	background-color: hsl($key-hue, 10%, 91%);
	border-radius: 2px;
	color: hsl($key-hue, 20%, 50%);
	font-family: $font-family-mono;
	padding: 0 0.3rem;
}
a {
	color: $a-color;
	transition: background-color 0.2s ease-out;

	&:hover {
		background-color: $a-hover-background-color;
	}
}

.header {
	background-color: black;
	color: white;
}
.content {
	margin: 0 auto;
	padding: 60px 30px;
	width: 620px;

	& > *:last-child {
		margin-bottom: 0;
	}
}
.menu {
	left: 0;
	position: absolute;
	top: 0;
}
.codeBlock {
	background-color: $code-block-background-color;
	border-radius: 2px;
	color: #888;
	margin: 1.0rem 0;
	overflow: hidden;

	@at-root {
		&_section {
			@include clearfix();

			padding: 20px;
			position: relative;

			&#{&}-example {
				background-color: $code-block-example-background-color;
			}
		}
		&_paneContainer {
			box-shadow: 0 1px 3px rgba(black, 0.3);
			margin: 0 auto;
			width: 250px;
		}
		&_textBox {
			background-color: $code-block-text-box-background-color;
			border-radius: 2px;
			border-width: 0;
			color: darken($code-block-text-box-background-color, 35%);
			font-family: $font-family-mono;
			font-size: 0.9rem;
			height: 139px;
			line-height: 1.8;
			outline: none;
			padding: 10px;
			resize: none;
			white-space: pre;
			width: 100%;
		}
	}
}
.twoColumnLayout {
	@include clearfix();

	@at-root {
		&_leftColumn {
			float: left;
			padding-right: 10px;
			width: 50%;
		}
		&_rightColumn {
			float: left;
			padding-left: 10px;
			width: 50%;
		}
	}
}
