$font-family-sans: sans-serif;
$font-family-mono: Menlo, Courier, monospace;
$code-block-padding: 5px;

* {
	box-sizing: border-box;
}
html {
	font-family: $font-family-sans;
	font-size: 13px;
	margin: 0;
	padding: 0;
}
body {
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 2.0rem;
	margin: 0 0 1.0rem;
	text-transform: capitalize;
}
h2 {
	font-size: 1.5rem;
	margin: 4.0rem 0 1.0rem;
	text-transform: capitalize;
}
pre {
	font-family: $font-family-mono;
	line-height: 1.8;
	margin: 0;
	padding: 0;

	& > code,
	& > .hljs {
		padding: 0;
	}
}
p {
	line-height: 1.8;
	margin: 1.0rem 0;
}
p + p {
	margin-top: 0.5rem;
}
code {
	background-color: #eee;
	border-radius: 2px;
	color: #888;
	font-family: $font-family-mono;
	padding: 0 2px;
}

.header {
	background-color: black;
	color: white;
}
.content {
	background-color: white;
	margin: 0 auto;
	padding: 30px;
	width: 600px;
}
.codeBlock {
	background-color: #eee;
	border-radius: 2px;
	color: #888;
	margin: 2.0rem 0;
	padding: $code-block-padding;

	@at-root {
		&_code {
			padding: (20px - $code-block-padding) (20px - $code-block-padding) 20px;
		}
		&_example {
			border-top: #ddd dotted 1px;
			padding: 20px (20px - $code-block-padding) (20px - $code-block-padding);
		}
		&_ssContainer {
			margin: 0 auto;
			width: 250px;
		}
	}
}
