$font-family-sans: Verdana, sans-serif;
$font-family-mono: Menlo, Courier, monospace;

@mixin clearfix() {
	&:after {
		clear: both;
		content: "";
		display: block;
	}
}

* {
	box-sizing: border-box;
}
html {
	font-family: $font-family-sans;
	font-size: 13px;
	margin: 0;
	padding: 0;
}
body {
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 2.0rem;
	margin: 0 0 1.0rem;
	text-transform: capitalize;
}
h2 {
	font-size: 1.5rem;
	margin: 4.0rem 0 1.0rem;
	text-transform: capitalize;
}
pre {
	font-family: $font-family-mono;
	line-height: 1.8;
	margin: 0;
	padding: 0;

	& > code,
	& > .hljs {
		padding: 0;
	}
}
p {
	line-height: 1.8;
	margin: 1.0rem 0;
}
p + p {
	margin-top: 0.5rem;
}
dl, ol, ul {
	margin: 1.0rem 0;
}
li + li {
	margin-top: 0.5rem;
}
code {
	background-color: #eee;
	border-radius: 2px;
	color: #888;
	font-family: $font-family-mono;
	padding: 0 2px;
}

.header {
	background-color: black;
	color: white;
}
.content {
	background-color: white;
	margin: 0 auto;
	padding: 30px;
	width: 620px;

	& > *:last-child {
		margin-bottom: 0;
	}
}
.codeBlock {
	background-color: #eee;
	border-radius: 2px;
	color: #888;
	margin: 2.0rem 0;

	@at-root {
		&_section {
			@include clearfix();

			padding: 20px;
			position: relative;

			& + & {
				border-top: #ddd dotted 1px;
			}
		}
		&_ssContainer {
			margin: 0 auto;
			width: 250px;
		}
		&_textBox {
			background-color: #ddd;
			border-radius: 2px;
			border-width: 0;
			color: #aaa;
			font-family: $font-family-mono;
			font-size: 0.9rem;
			height: 139px;
			line-height: 1.8;
			outline: none;
			padding: 10px;
			resize: none;
			white-space: pre;
			width: 100%;
		}
	}
}
.twoColumnLayout {
	@include clearfix();

	@at-root {
		&_leftColumn {
			float: left;
			padding-right: 10px;
			width: 50%;
		}
		&_rightColumn {
			float: left;
			padding-left: 10px;
			width: 50%;
		}
	}
}
