{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"rules": {
		"camelcase": "off",  /* Avoid detecting 'opt_foobar' */
		"dot-notation": "off",
		"eqeqeq": "error",
		"no-console": "warn",
		"no-debugger": "warn",
		"no-multi-spaces": "off",
		"no-undef": "error",
		"no-underscore-dangle": "off",
		"no-unused-vars": [
			"warn", {
				"args": "all",
				"argsIgnorePattern": "^_"
			}
		],
		"no-use-before-define": "error",
		"semi-spacing": "off",
		"strict": "off",
		"quotes": ["warn", "single"]
	},
	"globals": {
	}
}
/* vim: set filetype=javascript: */
