.#{$prefix}-btnv {
	padding: 0 4px;

	&_b {
		@include resetInput();

		background-color: var(--input-light-bg-color);
		border-radius: var(--input-border-radius);
		color: var(--input-light-fg-color);
		cursor: pointer;
		display: block;
		font-weight: bold;
		height: var(--input-height);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;

		&:hover {
			background-color: var(--input-light-hover-bg-color);
		}
		&:focus {
			background-color: var(--input-light-focus-bg-color);
		}
		&:active {
			background-color: var(--input-light-active-bg-color);
		}
	}
}
