.#{$prefix}-fldv {
	&_t {
		@extend %folder_title;
	}
	&_m {
		@extend %folder_mark;
	}
	&#{&}-expanded &_m {
		@extend %folder_mark-expanded;
	}
	&_c {
		@extend %container;

		border-left: var(--folder-background-color) solid 4px;
		box-sizing: border-box;
		height: 0;
		opacity: 0;
		overflow: hidden;
		padding-bottom: 0;
		padding-top: 0;
		position: relative;
		transition: height 0.2s ease-in-out, opacity 0.2s linear,
			padding 0.2s ease-in-out;
	}
	&_t:hover + &_c {
		border-left-color: var(--folder-background-color-hover);
	}
	&_t:focus + &_c {
		border-left-color: var(--folder-background-color-focus);
	}
	&_t:active + &_c {
		border-left-color: var(--folder-background-color-active);
	}
	&#{&}-expanded &_c {
		opacity: 1;
		overflow: visible;
		padding-bottom: 4px;
		padding-top: 4px;
		transform: none;
		// Delay opacity transition to avoid overflow contents
		transition: height 0.2s ease-in-out, opacity 0.2s linear 0.2s,
			padding 0.2s ease-in-out;
	}
}
