.#{$prefix}-lblv {
	align-items: center;
	display: flex;
	padding-left: 4px;
	padding-right: 4px;

	&_l {
		color: var(--label-foreground-color);
		flex: 1;
		hyphens: auto;
		padding-left: 4px;
		padding-right: 16px;
	}
	&_v {
		align-self: flex-start;
		flex-grow: 0;
		flex-shrink: 0;
		width: 160px;
	}
}
