.#{$prefix}-rotv {
	@include themeVariables();

	background-color: var(--base-background-color);
	border-radius: $root-border-radius;
	box-shadow: 0 2px 4px var(--base-shadow-color);
	font-family: var(--font-family);
	font-size: 11px;
	font-weight: 500;
	line-height: 1;
	text-align: left;

	&_t {
		@extend %folder_title;

		border-bottom-left-radius: $root-border-radius;
		border-bottom-right-radius: $root-border-radius;
		border-top-left-radius: $root-border-radius;
		border-top-right-radius: $root-border-radius;
	}
	&#{&}-expanded &_t {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	&_m {
		@extend %folder_mark;

		transition: none;
	}
	&#{&}-expanded &_m {
		@extend %folder_mark-expanded;
	}
	&_c {
		@extend %folder_container;

		// Bottom of the last folder
		& > .#{$prefix}-fldv:last-child {
			& > .#{$prefix}-fldv_c {
				border-bottom-left-radius: $root-border-radius;
				border-bottom-right-radius: $root-border-radius;
			}
		}
		// Bottom of the last folder title when collapsed
		& > .#{$prefix}-fldv:last-child:not(.#{$prefix}-fldv-expanded) {
			& > .#{$prefix}-fldv_t {
				border-bottom-left-radius: $root-border-radius;
				border-bottom-right-radius: $root-border-radius;
			}
		}
		// Top of the first folder
		& > .#{$prefix}-fldv:first-child {
			& > .#{$prefix}-fldv_t {
				border-top-left-radius: $root-border-radius;
				border-top-right-radius: $root-border-radius;
			}
		}
	}
	&#{&}-expanded &_c {
		@extend %folder_container-expanded;
	}
}
