.#{$prefix}-rotv {

	background-color: var(--bg-color);
	border-radius: var(--root-border-radius);
	box-shadow: 0 2px 4px rgba(black, 0.2);
	font-family: var(--font-family);
	font-size: 11px;
	font-weight: 500;
	text-align: left;

	&_t {
		@extend %folder_title;

		border-top-left-radius: var(--root-border-radius);
		border-top-right-radius: var(--root-border-radius);
	}
	&_m {
		@extend %folder_mark;

		transition: none;
	}
	&#{&}-expanded &_m {
		@extend %folder_mark-expanded;
	}
	&_c {
		@extend %container;

		box-sizing: border-box;
		height: 0;
		overflow: hidden;
		padding-bottom: 0;
		padding-top: 0;

		// Clip subviews without `overflow: hidden` for popup elements (e.g. color picker)
		& > .#{$prefix}-fldv:first-child {
			.#{$prefix}-fldv_t {
				border-top-left-radius: var(--root-border-radius);
				border-top-right-radius: var(--root-border-radius);
			}
		}
	}
	&#{&}-expanded &_c {
		height: auto;
		overflow: visible;
		padding-bottom: 4px;
		padding-top: 4px;
	}
}
