.#{$prefix}-grpmv {
	@include propertyView();

	position: relative;

	&_g {
		@include monitorView();

		display: block;
		height: calc(var(--input-height) * 3);

		polyline {
			fill: none;
			stroke: var(--monitor-fg-color);
			stroke-linejoin: round;
		}
	}
	&_t {
		font-size: 0.9em;
		left: 0;
		pointer-events: none;
		position: absolute;
		text-indent: 4px;
		top: 0;
		visibility: hidden;

		&#{&}-valid {
			visibility: visible;
		}

		&::before {
			background-color: $monitor-fg-color;
			border-radius: 100%;
			content: '';
			display: block;
			height: 4px;
			left: -2px;
			position: absolute;
			top: -2px;
			width: 4px;
		}
	}
}
