.#{$prefix}-sglmv {
	&_i {
		@include monitorView();

		padding: 0 4px;
	}
}

.#{$prefix}-mllmv {
	&_i {
		@include monitorView();

		display: block;
		height: calc(var(--input-height) * 3);
		line-height: var(--input-height);
		padding: 0 4px;
		resize: none;
		white-space: pre;
	}
}
