@use '../defs';

.codeBlock {
	position: relative;

	&#{&}-compact {
		@media screen {
			max-height: 256px;
		}
	}

	pre {
		overflow: auto;
		padding: 32px;

		@include defs.nonwide() {
			padding: 24px;
		}

		code {
			font-size: 0.9rem;
			font-weight: 500;
		}
	}
	&#{&}-fig {
		pre {
			line-height: 0.9;
		}
		pre code {
			font-size: 0.8rem;
		}
	}
}
