.codeBlock {
	border-radius: 6px;
	position: relative;

	pre {
		overflow: auto;
		padding: 32px;

		@include nonwide() {
			padding: 24px;
		}

		code {
			font-size: 0.9rem;
			font-weight: 500;
		}
	}
	&_title {
		background-color: var(--hl-comment);
		border-bottom-left-radius: 1px;
		color: var(--bg-color-secondary);
		font-family: $font-family-mono;
		font-size: 0.7rem;
		font-weight: 500;
		padding: 0.2em 0.5em;
		position: absolute;
		right: 0;
		top: 0;
	}
}
