.demo {
	background-color: var(--bg-color-secondary);
	border-radius: 6px;

	@include wide() {
		display: flex;
	}

	&_codeLayout {
		display: flex;
		flex: 3;
		overflow: auto;

		.codeBlock {
			flex: 1;
		}
	}
	&_resultLayout {
		@include dotGrid();

		flex: 2;
		padding: 32px;
		text-align: center;
	}
}
