.globalHeader {
	$global-header-fg-color: inherit;

	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	background-color: var(--bg-color-translucent);
	box-shadow: 0 2px 4px rgba(black, 0.05);
	color: inherit;
	height: $global-header-height;
	left: 0;
	line-height: $global-header-height;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: $z-index-global-header;

	&_innerLayout {
		@include responsiveContainer();

		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	&_logoLayout {
		display: inline-block;
	}
	&_spMenuButtonLayout {
		left: 0;
		position: absolute;
		top: 0;
	}
}

.spMenuButton {
	color: inherit;
	height: $global-header-height;
	line-height: $global-header-height;
	text-align: center;
	width: $global-header-height;
}
