@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
	$logo-color: var(--fg-color);
	$logo-hover-color: var(--fg-color-action);

	display: block;
	position: relative;

	&_main {
		align-items: center;
		color: $logo-color;
		display: flex;
		text-decoration: none;

		&:hover {
			color: $logo-hover-color;
			text-decoration: none;
		}
	}
	&_symbol {
		background: linear-gradient(
			to left,
			$logo-color,
			$logo-color 4px,
			transparent 4px,
			transparent 8px,
			$logo-color 8px,
			$logo-color
		);
		border-radius: 4px;
		display: block;
		height: 12px;
		transition: transform 0.05s ease-out;
		animation: rotateAnimation 1s linear both;
		animation-timeline: scroll(root);
		width: 12px;
	}
	&:hover &_symbol {
		background: linear-gradient(
			to left,
			$logo-hover-color,
			$logo-hover-color 4px,
			transparent 4px,
			transparent 8px,
			$logo-hover-color 8px,
			$logo-hover-color
		);
	}
	&_text {
		font-weight: 500;
		line-height: 24px;
		margin-left: 8px;
		white-space: nowrap;
	}
	&_version {
		margin-left: 12px + 8px;
		margin-top: 2px;
	}
}

.logoSwitcher {
	display: inline-block;
	position: relative;

	&_select {
		appearance: none;
		background-color: var(--bg-color-action);
		border-radius: 2px;
		border-width: 0;
		color: var(--fg-color-secondary);
		font-family: inherit;
		font-size: 0.8rem;
		padding: 2px 18px 2px 4px;
		white-space: nowrap;

		&:disabled {
			background-color: var(--bg-color-secondary);
			padding-right: 4px;
		}
		&:not(:disabled) {
			cursor: pointer;
		}
		&:not(:disabled):hover,
		&:focus {
			background-color: var(--bg-color-action-active);
		}
		&:focus {
			outline: none;
		}
	}

	&_arrow {
		border-color: currentColor transparent transparent;
		border-style: solid;
		border-width: 4px;
		bottom: 0;
		box-sizing: border-box;
		height: 8px;
		margin: auto;
		opacity: 0.5;
		pointer-events: none;
		position: absolute;
		right: 6px;
		top: 6px;
		width: 8px;
	}
	&_select:disabled + &_arrow {
		display: none;
	}
}
