.main {
	overflow: hidden;

	&_globalHeader {
		@include wide() {
			display: none;
		}
		@include nonwide() {
			height: $global-header-height;
		}
	}
	&_wrap {
		@include responsiveContainer();

		@include wide() {
			display: flex;
			margin-top: 32px;
		}
	}
	&_menu {
		@include wide() {
			margin-right: 32px;
			width: $global-nav-width;
		}
		@include nonwide() {
			margin-right: 0;
			width: 0;
		}
	}
	&_main {
		flex: 1;

		@include wide() {
			left: $global-nav-width;
			overflow: hidden;
			top: 0;
		}
		@include nonwide() {
			left: 0;
			top: $global-header-height;
		}
	}
	&_pageHeader,
	&_inner {
		@include document();

		flex: 1;

		h1 + p {
			margin-top: 1em;
			padding-left: 0.1em;
			padding-right: 0.1em;
		}
	}
	&_pageHeader {
		@include middle() {
			margin-left: -32px;
			margin-right: -32px;
		}
		@include narrow() {
			margin-left: -16px;
			margin-right: -16px;
		}
	}
	&_inner {
		@include wide() {
			padding-bottom: 64px;
			padding-top: 64px;
		}
		@include nonwide() {
			padding-bottom: 32px;
			padding-top: 32px;
		}
	}
	&_media {
		margin-bottom: 1em;
		margin-top: 1em;
	}
}
