.rel {
	display: grid;
	margin-bottom: 1em;
	margin-top: 1em;

	@include wide() {
		gap: 16px;
		grid-template-columns: repeat(2, 1fr);
	}
	@include nonwide() {
		gap: 8px;
		grid-template-columns: repeat(1, 1fr);
	}
}
.relItem {
	align-items: stretch;
	display: flex;

	a#{&}_anchor {
		background-color: var(--bg-color-secondary);
		border-radius: 6px;
		color: var(--fg-color);
		display: flex;
		flex: 1;
		flex-direction: column;
		padding: 24px 32px;
		text-decoration: none;

		&:focus,
		&:hover {
			background-color: var(--bg-color-secondary-action);
		}
	}
	&#{&}-oneline a#{&}_anchor {
		justify-content: center;
	}
	&_title {
		font-weight: 500;
	}
	&_detail {
		color: var(--fg-color-secondary);
		line-height: 1.3;
		margin-top: 16px;
	}

	.fa.fa-arrow-right {
		margin-right: 0.25em;
	}
	.fa-external-link-square-alt {
		margin-left: 0.5em;
	}
}
