.#{$prefix}-ckbiv {
	&_l {
		display: block;
		position: relative;
	}
	&_i {
		@include resetInput();

		background: red;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
	}
	&_m {
		background-color: var(--input-background-color);
		border-radius: $input-border-radius;
		cursor: pointer;
		display: block;
		height: var(--unit-size);
		position: relative;
		width: var(--unit-size);

		&::before {
			background-color: var(--input-foreground-color);
			border-radius: $input-border-radius;
			bottom: 4px;
			content: '';
			display: block;
			left: 4px;
			opacity: 0;
			position: absolute;
			right: 4px;
			top: 4px;
		}
	}
	&_i:hover + &_m {
		background-color: var(--input-background-color-hover);
	}
	&_i:focus + &_m {
		background-color: var(--input-background-color-focus);
	}
	&_i:active + &_m {
		background-color: var(--input-background-color-active);
	}
	&_i:checked + &_m::before {
		opacity: 1;
	}
}
