.#{$prefix}-clpiv {
	background-color: var(--base-background-color);
	border-radius: 6px;
	box-shadow: 0 2px 4px var(--base-shadow-color);
	display: none;
	padding: 4px;
	position: relative;
	visibility: hidden;
	z-index: $z-index-picker;

	&#{&}-expanded {
		display: block;
		visibility: visible;
	}

	&_hsv {
		display: flex;
	}
	&_h,
	&_a {
		margin-left: 4px;
	}
	&_rgb {
		display: flex;
		margin-top: 4px;
	}
}

.#{$prefix}-hpliv {
	border-radius: $input-border-radius;
	overflow: hidden;
	position: relative;

	&_c {
		cursor: crosshair;
		display: block;
		height: 80px;
		width: 20px;
	}
	&_m {
		@extend %colorPicker_marker;

		left: 50%;
	}
}
.#{$prefix}-svpiv {
	border-radius: $input-border-radius;
	overflow: hidden;
	position: relative;

	&_c {
		cursor: crosshair;
		display: block;
		height: 80px;
		width: 100%;
	}
	&_m {
		@extend %colorPicker_marker;
	}
}
.#{$prefix}-apliv {
	@include checker-pattern($transparent-checker-color-dark, 20px / 2);

	background-color: $transparent-checker-color-light;
	border-radius: $input-border-radius;
	overflow: hidden;
	position: relative;

	&_c {
		cursor: crosshair;
		display: block;
		height: 80px;
		width: 20px;
	}
	&_m {
		@extend %colorPicker_marker;

		left: 50%;
	}
}
