.#{$prefix}-cctxtsiv {
	display: flex;
	width: 100%;

	&_m {
		margin-right: 4px;
		position: relative;
	}
	&_ms {
		@include resetInput();

		border-radius: $input-border-radius;
		color: var(--label-foreground-color);
		cursor: pointer;
		height: $input-height;
		line-height: $input-height;
		padding: 0 18px 0 4px;

		&:hover {
			background-color: var(--input-background-color-hover);
		}
		&:focus {
			background-color: var(--input-background-color-focus);
		}
		&:active {
			background-color: var(--input-background-color-active);
		}
	}
	&_mm {
		@include dropdown_arrow(var(--label-foreground-color), 6px);

		bottom: 0;
		margin: auto;
		position: absolute;
		right: 6px;
		top: 3px;
	}
	&_w {
		display: flex;
		flex: 1;
	}
	&_i {
		@include inputView();

		border-radius: 0;
		flex: 1;
		padding: 0 4px;

		&:first-child {
			border-bottom-left-radius: $input-border-radius;
			border-top-left-radius: $input-border-radius;
		}
		&:last-child {
			border-bottom-right-radius: $input-border-radius;
			border-top-right-radius: $input-border-radius;
		}

		& + & {
			margin-left: 1px;
		}
	}
}
