.#{$prefix}-clpiv {
	background-color: var(--base-background-color);
	border-radius: 6px;
	box-shadow: 0 2px 4px var(--base-shadow-color);
	display: none;
	padding: 4px;
	position: relative;
	visibility: hidden;
	z-index: $z-index-picker;

	&#{&}-expanded {
		display: block;
		visibility: visible;
	}

	&_h,
	&_ap {
		margin-left: $slider-knob-size / 2;
		margin-right: $slider-knob-size / 2;
	}
	&_h {
		margin-top: 4px;
	}
	&_rgb {
		display: flex;
		margin-top: 4px;
		width: 100%;
	}
	&_a {
		display: flex;
		margin-top: 4px;
		padding-top: 8px;
		position: relative;

		&:before {
			background-color: var(--separator-color);
			content: '';
			height: 4px;
			left: -4px;
			position: absolute;
			right: -4px;
			top: 0;
		}
	}
	&_ap {
		flex: 3;
	}
	&_at {
		flex: 1;
		margin-left: 4px;
	}
}

.#{$prefix}-svpiv {
	border-radius: $input-border-radius;
	outline: none;
	overflow: hidden;
	position: relative;

	&_c {
		cursor: crosshair;
		display: block;
		height: 80px;
		width: 100%;
	}
	&_m {
		border-radius: 100%;
		border: $color-picker-marker-border-color solid 2px;
		box-sizing: border-box;
		filter: drop-shadow(0 0 1px rgba(black, 0.3));
		height: $slider-knob-size;
		margin-left: -($slider-knob-size / 2);
		margin-top: -($slider-knob-size / 2);
		pointer-events: none;
		position: absolute;
		width: $slider-knob-size;
	}
	&:focus &_m {
		border-color: $color-picker-marker-border-color-focus;
	}
}
.#{$prefix}-hpliv {
	cursor: pointer;
	height: 20px;
	outline: none;
	position: relative;

	&_c {
		border-radius: $color-picker-slider-track-width / 2;
		display: block;
		height: $color-picker-slider-track-width;
		left: 0;
		margin-top: -($color-picker-slider-track-width / 2);
		position: absolute;
		top: 50%;
		width: 100%;
	}
	&_m {
		border-radius: $input-border-radius;
		border: $color-picker-marker-border-color solid 2px;
		box-shadow: 0 0 2px rgba(black, 0.1);
		box-sizing: border-box;
		height: $slider-knob-size;
		left: 50%;
		margin-left: -($slider-knob-size / 2);
		margin-top: -($slider-knob-size / 2);
		pointer-events: none;
		position: absolute;
		top: 50%;
		width: $slider-knob-size;
	}
	&:focus &_m {
		border-color: $color-picker-marker-border-color-focus;
	}
}
.#{$prefix}-apliv {
	cursor: pointer;
	height: 20px;
	outline: none;
	position: relative;

	&_c {
		@include checker-pattern(
			$transparent-checker-color-dark,
			$color-picker-slider-track-width
		);

		background-color: $transparent-checker-color-light;
		border-radius: $color-picker-slider-track-width / 2;
		display: block;
		height: $color-picker-slider-track-width;
		left: 0;
		margin-top: -($color-picker-slider-track-width / 2);
		position: absolute;
		top: 50%;
		width: 100%;
	}
	&_m {
		@include checker-pattern(
			$transparent-checker-color-dark,
			$slider-knob-size
		);

		background-color: $transparent-checker-color-light;
		border-radius: $input-border-radius;
		box-shadow: 0 0 2px rgba(black, 0.1);
		height: $slider-knob-size;
		left: 50%;
		margin-left: -($slider-knob-size / 2);
		margin-top: -($slider-knob-size / 2);
		overflow: hidden;
		pointer-events: none;
		position: absolute;
		top: 50%;
		width: $slider-knob-size;
	}
	&_p {
		border-radius: $input-border-radius;
		border: $color-picker-marker-border-color solid 2px;
		box-sizing: border-box;
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
	&:focus &_p {
		border-color: $color-picker-marker-border-color-focus;
	}
}
