@import './checkbox';
@import './color-picker';
@import './list';
@import './rgb-text';
@import './slider';
@import './text';

// colorswatch
.#{$prefix}-cswiv {
	&_sw {
		@include inputView();
	}
	&_b {
		appearance: none;
		background-color: transparent;
		border-width: 0;
		cursor: pointer;
		display: block;
		height: $input-height;
		left: 0;
		margin: 0;
		outline: none;
		padding: 0;
		position: absolute;
		top: 0;
		width: $input-height;

		&:focus::after {
			border: rgba(white, 0.75) solid 2px;
			border-radius: $input-border-radius;
			bottom: 0;
			content: '';
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	&_p {
		left: -4px;
		position: absolute;
		right: -4px;
		top: $input-height;
	}
}

// colorswatch-text
.#{$prefix}-cswtxtiv {
	display: flex;
	position: relative;

	&_s {
		flex-grow: 0;
		flex-shrink: 0;
		width: $input-height;
	}
	&_t {
		flex: 1;
		margin-left: 4px;
	}
}

// slider-text
.#{$prefix}-sldtxtiv {
	display: flex;

	&_s {
		flex: 2;
	}
	&_t {
		flex: 1;
		margin-left: 4px;
	}
}
