.#{$prefix}-lstiv {
	@include propertyView();

	position: relative;

	&_s {
		@include resetInput();

		background-color: $input-light-bg-color;
		border-radius: $input-border-radius;
		color: $input-light-fg-color;
		cursor: pointer;
		display: block;
		height: $input-height;
		line-height: $input-height;
		padding: 0 4px;
		width: 100%;

		&:hover {
			background-color: $input-light-hover-bg-color;
		}
		&:focus {
			background-color: $input-light-focus-bg-color;
		}
		&:active {
			background-color: $input-light-active-bg-color;
		}
	}
	&_m {
		border-color: $input-light-fg-color transparent transparent;
		border-style: solid;
		border-width: 3px;
		bottom: 0;
		box-sizing: border-box;
		height: 6px;
		margin: auto;
		pointer-events: none;
		position: absolute;
		right: 6px;
		top: 3px;
		width: 6px;
	}
}
