.#{$prefix}-lstiv {
	@include propertyView();

	position: relative;

	&_s {
		@include resetInput();

		background-color: var(--button-background-color);
		border-radius: $input-border-radius;
		color: var(--button-foreground-color);
		cursor: pointer;
		display: block;
		height: $input-height;
		line-height: $input-height;
		padding: 0 4px;
		width: 100%;

		&:hover {
			background-color: var(--button-background-color-hover);
		}
		&:focus {
			background-color: var(--button-background-color-focus);
		}
		&:active {
			background-color: var(--button-background-color-active);
		}
	}
	&_m {
		@include dropdown_arrow(var(--button-foreground-color), 6px);

		bottom: 0;
		margin: auto;
		position: absolute;
		right: 6px;
		top: 3px;
	}
}
