.#{$prefix}-lstiv {
	@include propertyView();

	position: relative;

	&_s {
		@include resetInput();

		background-color: var(--button-background-color);
		border-radius: $input-border-radius;
		color: var(--button-foreground-color);
		cursor: pointer;
		display: block;
		height: $input-height;
		line-height: $input-height;
		padding: 0 4px;
		width: 100%;

		&:hover {
			background-color: var(--button-background-color-hover);
		}
		&:focus {
			background-color: var(--button-background-color-focus);
		}
		&:active {
			background-color: var(--button-background-color-active);
		}
	}
	&_m {
		border-color: var(--button-foreground-color) transparent transparent;
		border-style: solid;
		border-width: 3px;
		bottom: 0;
		box-sizing: border-box;
		height: 6px;
		margin: auto;
		pointer-events: none;
		position: absolute;
		right: 6px;
		top: 3px;
		width: 6px;
	}
}
