.#{$prefix}-p2dpadv {
	background-color: var(--base-background-color);
	border-radius: 6px;
	box-shadow: 0 2px 4px var(--base-shadow-color);
	display: none;
	padding: 4px 4px 4px calc(4px * 2 + var(--unit-size));
	position: relative;
	visibility: hidden;
	z-index: $z-index-picker;

	&#{&}-expanded {
		display: block;
		visibility: visible;
	}

	&_p {
		@extend %input;

		cursor: crosshair;
		height: 0;
		overflow: hidden;
		padding-bottom: 100%;
		position: relative;
	}
	&_g {
		display: block;
		height: 100%;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		width: 100%;
	}
	&_ax {
		stroke: var(--input-guide-color);
	}
	&_l {
		stroke: var(--input-foreground-color);
		stroke-linecap: round;
		stroke-dasharray: 1px 3px;
	}
	&_m {
		fill: var(--input-foreground-color);
	}
}
