.#{$prefix}-p2dtxtiv {
	display: flex;

	&_w {
		align-items: center;
		display: flex;

		& + & {
			margin-left: 2px;
		}
	}
	&_i {
		@include inputView();

		padding: 0 4px;
		width: 100%;
	}
	&_w:nth-child(1) &_i {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	&_w:nth-child(2) &_i {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}
