.#{$prefix}-rgbtxtiv {
	display: flex;

	&_l {
		color: var(--label-foreground-color);
		display: inline;
		line-height: $input-height;
		margin-right: 8px;
	}
	&_w {
		display: flex;
	}
	&_i {
		@include inputView();

		flex: 1;
		padding: 0 4px;
		width: 100%;

		&:nth-child(1) {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}
		&:nth-child(2) {
			border-radius: 0;
		}
		&:nth-child(3) {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}

		& + & {
			margin-left: 1px;
		}
	}
}
