.#{$prefix}-sldiv {
	@include propertyView();

	&_o {
		box-sizing: border-box;
		cursor: pointer;
		height: $input-height;
		margin: 0 ($slider-knob-size / 2);
		outline: none;
		position: relative;

		&::before {
			background-color: var(--input-background-color);
			border-radius: 1px;
			bottom: 0;
			content: '';
			display: block;
			height: 2px;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	&_i {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;

		&::before {
			background-color: var(--button-background-color);
			border-radius: $input-border-radius;
			bottom: 0;
			content: '';
			display: block;
			height: $slider-knob-size;
			margin: auto;
			position: absolute;
			right: -$slider-knob-size / 2;
			top: 0;
			width: $slider-knob-size;
		}
	}
	&_o:hover &_i::before {
		background-color: var(--button-background-color-hover);
	}
	&_o:focus &_i::before {
		background-color: var(--button-background-color-focus);
	}
	&_o:active &_i::before {
		background-color: var(--button-background-color-active);
	}
}
