.#{$prefix}btv {
	background-color: $prop-view-background-color;
	padding: 5px;
	position: relative;

	@at-root {
		&_button {
			appearance: none;
			background-color: $input-background-color;
			border-width: 0;
			border-radius: 2px;
			color: $input-foreground-color;
			cursor: pointer;
			height: $input-height;
			line-height: $input-height;
			outline: none;
			padding: 0;
			transition: background-color 0.2s ease-out;
			width: 100%;

			&:focus {
				background-color: $input-focus-background-color;
			}
			&:hover {
				background-color: $input-hover-background-color;
				color: $input-hover-foreground-color;
			}
			&:active {
				background-color: $input-active-background-color;
			}
		}
	}
}

.#{$prefix}btv + .#{$prefix}btv,
.#{$prefix}btv + .#{$prefix}prv,
.#{$prefix}prv + .#{$prefix}btv {
	border-top: $prop-view-separator-color solid 1px;
}
