.#{$prefix}cc {
	@include fill();

	&#{&}-disabled {
		opacity: 0.5;
	}
	&#{&}-disabled &_input:hover + &_outer {
		background-color: $input-background-color;
	}
	&#{&}-disabled &_input:hover + &_outer &_inner {
		background-color: $input-foreground-color;
	}

	@at-root {
		&_hitArea {
			@include fill();
		}
		&_input {
			@include fill();

			cursor: pointer;
			margin: 0;
			opacity: 0.001;
			padding: 0;
		}
		&_input:focus + &_outer {
			background-color: $input-focus-background-color;
		}
		&_input:focus + &_outer:hover,
		&_outer:hover {
			background-color: $input-hover-background-color;
		}
		&_input:checked + &_outer &_inner {
			opacity: 1.0;
		}
		&_outer:hover &_inner {
			background-color: $input-hover-foreground-color;
		}
		&_outer {
			@include fill();

			background-color: $input-background-color;
			border-radius: 2px;
			height: $checkbox-control-outer-size;
			width: $checkbox-control-outer-size;
		}
		&_inner {
			background-color: $input-foreground-color;
			border-radius: 2px;
			bottom: 0;
			height: $checkbox-control-outer-size - 5px * 2;
			left: 0;
			margin: auto;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: $checkbox-control-outer-size - 5px * 2;
		}
	}
}
