.#{$prefix}cptc {
	height: $color-palette-control-outer-size;
	position: relative;
}
.#{$prefix}cpc {
	&#{&}-cpt {
		position: absolute;
	}
}
.#{$prefix}txc {
	&#{&}-cpt {
		position: absolute;
		left: $color-palette-control-outer-size + 5px;
		right: 0;
	}
}
