$prefix: 'tp';

@mixin setVar($name, $value) {
	--#{$name}: var(--#{$prefix}-#{$name}, #{$value});
}

.#{$prefix}-rotv {
	// Font
	@include setVar(
		'font-family', ('Roboto Mono', 'Source Code Pro', Menlo, Courier, monospace));

	// Geometry
	@include setVar(
		'input-height', 20px);

	// Colors

	// Base
	@include setVar(
		'base-hue', 
		230
	);

	@include setVar(
		'color-exdark-hsl', 
		(var(--base-hue), 7%, 10%)
	);

	@include setVar(
		'color-dark-hsl', 
		(var(--base-hue), 7%, 20%)
	);

	@include setVar(
		'color-light-hs', 
		(var(--base-hue), 7%)
	);
	
	@include setVar(
		'color-light-l',
		70%
	);
	
	@include setVar(
		'color-light-hsl', 
		(var(--color-light-hs), var(--color-light-l))
	);

	@include setVar(
		'color-exlight-hsl', 
		(var(--base-hue), 7%, 80%)
	);

	@include setVar(
		'bg-color-hsl', 
		var(--color-dark-hsl)
	);
	
	@include setVar(
		'fg-color-hsl', 
		var(--color-exlight-hsl)
	);
	
	@include setVar(
		'bg-color',
		unquote('hsl(var(--color-dark-hsl))')
	);
	
	@include setVar(
		'fg-color', 
		unquote('hsl(var(--color-exlight-hsl))')
	);

	// Z-index
	@include setVar(
		'z-index-color-picker',
		 var(1000)
	);

	// Folder
	@include setVar(
		'folder-mark-hole-color', 
		unquote('hsla(var(--bg-color-hsl), 0.5)')
	);
	
	@include setVar(
		'folder-title-bg-color', 
		unquote('hsla(var(--fg-color-hsl), 0.1)')
	);
	
	@include setVar(
		'folder-title-active-bg-color', 
		unquote('hsla(var(--fg-color-hsl), 0.25)')
	);

	@include setVar(
		'folder-title-focus-bg-color', 
		unquote('hsla(var(--fg-color-hsl), 0.2)')
	);
	@include setVar(
		'folder-title-hover-bg-color', 
		unquote('hsla(var(--fg-color-hsl), 0.15)')
	);

	// Input
	@include setVar(
		'input-bg-color', 
		unquote('hsla(var(--fg-color-hsl), 0.15)')
	);
	
	@include setVar(
		'input-border-radius', 
		2px
	);
	
	@include setVar(
		'input-fg-color-hsl', 
		var(--fg-color-hsl)
	);
	
	@include setVar(
		'input-fg-color', 
		unquote('hsl(var(--fg-color-hsl))')
	);

	@include setVar(
		'input-active-bg-color', 
		unquote('hsla(var(--input-fg-color-hsl), 0.35)')
	);

	@include setVar(
		'input-focus-bg-color', 
		unquote('hsla(var(--input-fg-color-hsl), 0.25)')
	);

	@include setVar(
		'input-hover-bg-color', 
		unquote('hsla(var(--input-fg-color-hsl), 0.15)')
	);

	@include setVar(
		'input-light-bg-color', 
		unquote('hsl(var(--color-light-hsl))')
	);

	@include setVar(
		'input-light-active-bg-color', 
		unquote('hsl(var(--color-light-hs), calc(var(--color-light-l) + 15%))')
	);

	@include setVar(
		'input-light-focus-bg-color', 
		unquote('hsl(var(--color-light-hs), calc(var(--color-light-l) + 10%))')
	);
	
	@include setVar(
		'input-light-hover-bg-color', 
		unquote('hsl(var(--color-light-hs), calc(var(--color-light-l) + 5%))')
	);

	@include setVar(
		'input-light-fg-color', 
		unquote('hsl(var(--bg-color-hsl))')
	);

	// Monitor
	@include setVar(
		'monitor-bg-color', 
		unquote('hsla(var(--color-exdark-hsl), 0.5)')
	);
	@include setVar(
		'monitor-fg-color', 
		unquote('hsla(var(--fg-color-hsl), 0.7)')
	);

	// Misc
	@include setVar(
		'label-fg-color', 
		unquote('hsla(var(--fg-color-hsl), 0.8)')
	);

	@include setVar(
		'root-border-radius', 
		6px
	);
	
	@include setVar(
		'separator-color', 
		unquote('hsla(var(--color-exdark-hsl), 0.3)')
	);

	@include setVar(
		'slider-input-bar-color', 
		unquote('hsla(var(--fg-color-hsl), 0.2)')
	);
}

// Mixins

@mixin resetInput() {
	appearance: none;
	background-color: transparent;
	border-width: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
	outline: none;
	padding: 0;
}

@mixin propertyView() {
	color: var(--fg-color);
	display: block;
	padding: 0;
}

@mixin monitorView() {
	@include resetInput();

	background-color: var(--monitor-bg-color);
	border-radius: var(--input-border-radius);
	box-sizing: border-box;
	color: var(--monitor-fg-color);
	height: var(--input-height);
	width: 100%;
}

@mixin inputView() {
	@include resetInput();

	background-color: var(--input-bg-color);
	border-radius: var(--input-border-radius);
	box-sizing: border-box;
	color: var(--input-fg-color);
	font-family: inherit;
	height: var(--input-height);
	line-height: var(--input-height);
	width: 100%;

	&:hover {
		background-color: var(--input-hover-bg-color);
	}
	&:focus {
		background-color: var(--input-focus-bg-color);
	}
	&:active {
		background-color: var(--input-active-bg-color);
	}
}

%folder_title {
	@include resetInput();

	background-color: var(--folder-title-bg-color);
	color: var(--fg-color);
	cursor: pointer;
	display: block;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	padding-left: 30px;
	position: relative;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;

	&:hover {
		background-color: var(--folder-title-hover-bg-color);
	}
	&:focus {
		background-color: var(--folder-title-focus-bg-color);
	}
	&:active {
		background-color: var(--folder-title-active-bg-color);
	}
}

%folder_mark {
	background: linear-gradient(
		to left,
		var(--fg-color),
		var(--fg-color) 2px,
		transparent 2px,
		transparent 4px,
		var(--fg-color) 4px,
		var(--fg-color)
	);
	border-radius: var(--input-border-radius);
	bottom: 0;
	content: '';
	display: block;
	height: 6px;
	left: 12px;
	margin: auto;
	position: absolute;
	top: 0;
	transform: rotate(90deg);
	transition: transform 0.2s ease-in-out;
	will-change: transform;
	width: 6px;
}

%folder_mark-expanded {
	transform: none;
}

%container {
	& > .#{$prefix}-fldv:first-child {
		margin-top: -4px;
	}
	& > .#{$prefix}-fldv:last-child {
		margin-bottom: -4px;
	}

	& > * + * {
		margin-top: 4px;
	}
	& > .#{$prefix}-fldv + .#{$prefix}-fldv {
		margin-top: 0;
	}
	& > .#{$prefix}-sptv + .#{$prefix}-sptv {
		margin-top: 0;
	}
}
