$prefix: 'tp';

// Geometry
$input-height: 20px;
$input-border-radius: 2px;
$root-border-radius: 6px;

// Z-index
$z-index-picker: 1000;

// Mixins

@mixin themeVariable($name, $value) {
	--#{$name}: var(--#{$prefix}-#{$name}, #{$value});
}

@mixin themeVariables() {
	$base-hue: 230;
	$color-exdark: hsl($base-hue, 7%, 10%);
	$color-dark: hsl($base-hue, 7%, 20%);
	$color-light: hsl($base-hue, 7%, 70%);
	$color-exlight: hsl($base-hue, 7%, 80%);
	$bg-color: $color-dark;
	$fg-color: $color-exlight;

	@include themeVariable(
		'font-family',
		('Roboto Mono', 'Source Code Pro', Menlo, Courier, monospace)
	);

	@include themeVariable('base-background-color', $bg-color);
	@include themeVariable('base-shadow-color', rgba(black, 0.2));

	@include themeVariable('button-background-color', $color-light);
	@include themeVariable(
		'button-background-color-active',
		lighten($color-light, 15%)
	);
	@include themeVariable(
		'button-background-color-focus',
		lighten($color-light, 10%)
	);
	@include themeVariable(
		'button-background-color-hover',
		lighten($color-light, 5%)
	);
	@include themeVariable('button-foreground-color', $bg-color);

	@include themeVariable('folder-background-color', rgba($fg-color, 0.1));
	@include themeVariable(
		'folder-background-color-active',
		rgba($fg-color, 0.25)
	);
	@include themeVariable('folder-background-color-focus', rgba($fg-color, 0.2));
	@include themeVariable(
		'folder-background-color-hover',
		rgba($fg-color, 0.15)
	);
	@include themeVariable('folder-foreground-color', $fg-color);

	@include themeVariable('input-background-color', rgba($fg-color, 0.15));
	@include themeVariable(
		'input-background-color-active',
		rgba($fg-color, 0.35)
	);
	@include themeVariable('input-background-color-focus', rgba($fg-color, 0.25));
	@include themeVariable('input-background-color-hover', rgba($fg-color, 0.15));
	@include themeVariable('input-foreground-color', $fg-color);
	@include themeVariable('input-guide-color', rgba($bg-color, 0.5));

	@include themeVariable('label-foreground-color', rgba($fg-color, 0.8));

	@include themeVariable('monitor-background-color', rgba($color-exdark, 0.5));
	@include themeVariable('monitor-foreground-color', rgba($fg-color, 0.7));

	@include themeVariable('separator-color', rgba($color-exdark, 0.3));
}

@mixin resetInput() {
	appearance: none;
	background-color: transparent;
	border-width: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
	outline: none;
	padding: 0;
}

@mixin propertyView() {
	display: block;
	padding: 0;
}

@mixin monitorView() {
	@include resetInput();

	background-color: var(--monitor-background-color);
	border-radius: $input-border-radius;
	box-sizing: border-box;
	color: var(--monitor-foreground-color);
	height: $input-height;
	width: 100%;
}

@mixin inputView() {
	@include resetInput();

	background-color: var(--input-background-color);
	border-radius: $input-border-radius;
	box-sizing: border-box;
	color: var(--input-foreground-color);
	font-family: inherit;
	height: $input-height;
	line-height: $input-height;
	width: 100%;

	&:hover {
		background-color: var(--input-background-color-hover);
	}
	&:focus {
		background-color: var(--input-background-color-focus);
	}
	&:active {
		background-color: var(--input-background-color-active);
	}
}

@mixin button() {
	@include resetInput();

	background-color: var(--button-background-color);
	border-radius: $input-border-radius;
	color: var(--button-foreground-color);
	cursor: pointer;
	display: block;
	font-weight: bold;
	height: $input-height;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	&:hover {
		background-color: var(--button-background-color-hover);
	}
	&:focus {
		background-color: var(--button-background-color-focus);
	}
	&:active {
		background-color: var(--button-background-color-active);
	}
}

%folder_title {
	@include resetInput();

	background-color: var(--folder-background-color);
	color: var(--folder-foreground-color);
	cursor: pointer;
	display: block;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	padding-left: 30px;
	position: relative;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;

	&:hover {
		background-color: var(--folder-background-color-hover);
	}
	&:focus {
		background-color: var(--folder-background-color-focus);
	}
	&:active {
		background-color: var(--folder-background-color-active);
	}
}

%folder_mark {
	background: linear-gradient(
		to left,
		var(--folder-foreground-color),
		var(--folder-foreground-color) 2px,
		transparent 2px,
		transparent 4px,
		var(--folder-foreground-color) 4px
	);
	border-radius: 2px;
	bottom: 0;
	content: '';
	display: block;
	height: 6px;
	left: 12px;
	margin: auto;
	position: absolute;
	top: 0;
	transform: rotate(90deg);
	transition: transform 0.2s ease-in-out;
	width: 6px;
}

%folder_mark-expanded {
	transform: none;
}

%container {
	& > .#{$prefix}-fldv:first-child {
		margin-top: -4px;
	}
	& > .#{$prefix}-fldv:last-child {
		margin-bottom: -4px;
	}

	& > * + * {
		margin-top: 4px;
	}
	& > .#{$prefix}-fldv + .#{$prefix}-fldv {
		margin-top: 0;
	}
	& > .#{$prefix}-sptv + .#{$prefix}-sptv {
		margin-top: 0;
	}
}
