.#{$prefix}flv {
	overflow: hidden;
	position: relative;

	&_button:focus &_arrow {
		opacity: 0.5;
	}
	&_button:hover &_arrow {
		opacity: 0.75;
	}
	&_button:focus &_title {
		opacity: 0.5;
	}
	&_button:hover &_title {
		opacity: 0.75;
	}

	@at-root {
		&_button {
			background-color: transparent;
			border-width: 0;
			cursor: pointer;
			height: $folder-view-title-height;
			outline: none;
			padding: 0;
			width: 100%;
		}
		&_arrow {
			@extend %arrow-image;

			background-position: center;
			background-repeat: no-repeat;
			display: block;
			height: $folder-view-arrow-size;
			right: 10px;
			opacity: 0.25;
			position: absolute;
			top: ($folder-view-title-height - $folder-view-arrow-size) / 2;
			transform: rotate(-90deg);
			transition: opacity 0.2s ease-out, transform 0.2s ease-in-out;
			width: $folder-view-arrow-size;

			&#{&}-expanded {
				transform: rotate(90deg);
			}
		}
		&_title {
			color: $folder-view-title-color;
			display: block;
			height: $folder-view-title-height;
			line-height: $folder-view-title-height;
			opacity: 0.35;
			overflow: hidden;
			padding: {
				left: 5px;
				right: 10px + $folder-view-arrow-size + 10px;
			}
			position: relative;
			text-align: left;
			text-overflow: ellipsis;
			transition: color 0.2s ease-out, opacity 0.2s ease-out;
			user-select: none;
			white-space: nowrap;
		}
		&_container {
			overflow: hidden;
			transition: height 0.2s ease-in-out;
		}
	}
}
