.#{$prefix}fv {
	overflow: hidden;
	position: relative;

	&#{&}-animated &_arrow {
		transition: transform 0.2s ease-out;
	}
	&#{&}-animated &_container {
		transition: height 0.2s ease-out;
	}

	@at-root {
		&_arrow {
			background-image: url($folder-arrow-image);
			background-position: center center;
			background-repeat: no-repeat;
			height: $folder-view-arrow-size;
			left: 10px;
			opacity: 0.5;
			position: absolute;
			top: ($folder-view-title-height - $folder-view-arrow-size) / 2;
			width: $folder-view-arrow-size;

			&#{&}-expanded {
				transform: rotate(90deg);
			}
		}
		&_title {
			color: $folder-view-title-color;
			cursor: pointer;
			height: $folder-view-title-height;
			line-height: $folder-view-title-height;
			overflow: hidden;
			padding-left: 10px + $folder-view-arrow-size + 10px;
			text-overflow: ellipsis;
			user-select: none;
			white-space: nowrap;

			&:hover {
				color: $folder-view-title-hover-color;
			}
		}
		&_container {
			overflow: hidden;
			padding: 0 5px;
		}
	}
}
