.#{$prefix}flv {
	overflow: hidden;
	position: relative;

	@at-root {
		&_arrow {
			background: url($folder-arrow-image) no-repeat center center;
			height: $folder-view-arrow-size;
			right: 10px;
			opacity: 0.3;
			position: absolute;
			top: ($folder-view-title-height - $folder-view-arrow-size) / 2;
			transform: rotate(-90deg);
			transition: transform 0.2s ease-in-out;
			width: $folder-view-arrow-size;

			&#{&}-expanded {
				transform: rotate(90deg);
			}
		}
		&_title {
			color: $folder-view-title-color;
			cursor: pointer;
			height: $folder-view-title-height;
			line-height: $folder-view-title-height;
			overflow: hidden;
			padding: {
				left: 5px;
				right: 10px + $folder-view-arrow-size + 10px;
			}
			position: relative;
			text-overflow: ellipsis;
			transition: color 0.2s ease-out;
			user-select: none;
			white-space: nowrap;

			&:hover {
				color: $folder-view-title-hover-color;
			}
		}
		&_container {
			overflow: hidden;
			transition: height 0.2s ease-in-out;
		}
	}
}
