.#{$prefix}grm {
	height: $graph-height;
	position: relative;

	@at-root {
		&_canvas {
			background-color: $input-background-color;
			border-radius: 2px;
			color: rgba($input-foreground-color, 0.5);
			display: block;
			height: $graph-height;
			width: 100%;
		}
	}
}
