.#{$prefix}lc {
	background-color: $input-background-color;
	border-radius: 2px;

	&:focus {
		background-color: $input-focus-background-color;
	}
	&:hover {
		background-color: $input-hover-background-color;
	}
	&:hover &_select {
		color: $input-hover-foreground-color;
	}

	@at-root {
		&_select {
			appearance: none;
			background-color: transparent;
			border-width: 0;
			color: $input-foreground-color;
			cursor: pointer;
			height: $input-height;
			line-height: $input-height;
			outline: none;
			padding: 0 5px;
			position: relative;
			width: 100%;
		}
		&_arrow {
			background: url($list-control-arrow-image) no-repeat center center;
			bottom: 0;
			height: $list-control-arrow-size;
			margin: auto 0;
			opacity: 0.3;
			position: absolute;
			right: 10px;
			top: 0;
			width: $list-control-arrow-size;
		}
	}
}
