.#{$prefix}lc {
	@at-root {
		&_select {
			appearance: none;
			background-color: $input-background-color;
			border-radius: 2px;
			border-width: 0;
			color: $input-foreground-color;
			cursor: pointer;
			height: $input-height;
			line-height: $input-height;
			outline: none;
			padding: 0 5px;
			width: 100%;

			&:focus {
				background-color: $input-focus-background-color;
			}
			&:hover {
				background-color: $input-hover-background-color;
				color: $input-hover-foreground-color;
			}
		}
		&_arrow {
			background: url($list-control-arrow-image) no-repeat center center;
			bottom: 0;
			height: $list-control-arrow-size;
			margin: auto 0;
			opacity: 0.3;
			position: absolute;
			right: 10px;
			top: 0;
			width: $list-control-arrow-size;
		}
	}
}
