.#{$prefix}lm {
	background-color: $input-background-color;
	border-radius: 2px;
	height: $log-height;
	position: relative;

	@at-root {
		&_textarea {
			background-color: transparent;
			border-width: 0;
			color: rgba($input-foreground-color, 0.5);
			display: block;
			height: $log-height;
			line-height: $input-height;
			outline: none;
			padding: 0 5px;
			resize: none;
			width: 100%;
		}
	}
}
