.#{$prefix}plc {
	height: $color-palette-control-outer-size;
	position: relative;

	@at-root {
		&_outer {
			background-color: $input-background-color;
			border-radius: 2px;
			height: $color-palette-control-outer-size;
			overflow: hidden;
			position: relative;
			width: $color-palette-control-outer-size;
		}
		&_inner {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}
