.#{$prefix}ptm {
	height: $color-palette-control-outer-size;
	position: relative;
}
.#{$prefix}plm {
	&#{&}-pt {
		position: absolute;
	}
}
.#{$prefix}txm {
	&#{&}-pt {
		position: absolute;
		left: $color-palette-control-outer-size + 5px;
		right: 0;
	}
}
