.#{$prefix}PropView {
	@include clearfix();

	background-color: $prop-view-background-color;
	position: relative;

	& + & {
		border-top: $prop-view-separator-color solid 1px;
	}

	@at-root {
		&_label {
			color: $prop-view-label-color;
			float: left;
			height: $prop-view-height;
			left: 0;
			line-height: $prop-view-height;
			overflow: hidden;
			padding: 0 10px;
			text-overflow: ellipsis;
			user-select: none;
			white-space: nowrap;
			width: 50%;
		}
		&_container {
			float: right;
			padding: 5px;
			width: 50%;
		}
	}
}
