.#{$prefix}PropView {
	background-color: $prop-view-background-color;
	height: $prop-view-height;
	position: relative;

	& + & {
		border-top: $prop-view-separator-color solid 1px;
	}

	@at-root {
		&_label {
			color: $prop-view-label-color;
			height: $prop-view-height;
			left: 0;
			line-height: $prop-view-height;
			overflow: hidden;
			padding: 0 10px;
			position: absolute;
			text-overflow: ellipsis;
			user-select: none;
			white-space: nowrap;
			width: 50%;
		}
		&_container {
			bottom: 5px;
			left: 50%;
			position: absolute;
			right: 5px;
			top: 5px;
		}
	}
}
