.#{$prefix}rfv {
	padding: 5px;

	&_button:focus &_arrow {
		opacity: 0.5;
	}
	&_button:hover &_arrow {
		opacity: 0.75;
	}

	@at-root {
		&_button {
			background-color: transparent;
			border-width: 0;
			cursor: pointer;
			display: block;
			height: $input-height;
			outline: none;
			padding: 0;
			position: relative;
			width: 100%;
		}
		&_arrow {
			@extend %arrowImage;

			background-position: center;
			background-repeat: no-repeat;
			bottom: 0;
			display: block;
			height: $folder-view-arrow-size;
			left: 0;
			margin: auto;
			opacity: 0.25;
			position: absolute;
			right: 0;
			top: 0;
			transform: rotate(+90deg);
			transition: opacity 0.2s ease-out, transform 0.4s ease-in-out;
			width: $folder-view-arrow-size;

			&#{&}-expanded {
				transform: rotate(-90deg);
			}
		}
	}
}
