.#{$prefix}sc {
	cursor: pointer;
	height: $slider-control-height;
	position: relative;

	&:hover &_outer {
		background-color: $input-hover-background-color;
	}
	&:hover &_inner {
		background-color: $input-hover-foreground-color;
	}

	@at-root {
		&_outer {
			background-color: $input-background-color;
			border-radius: 2px;
			height: 100%;
			overflow: hidden;
			position: relative;
		}
		&_inner {
			background-color: $input-foreground-color;
			bottom: 0;
			left: 0;
			position: absolute;
			top: 0;
		}
	}
}
