.#{$prefix}sltc {
	height: $input-height;
	position: relative;
	width: 100%;
}
.#{$prefix}slc {
	&#{&}-slt {
		left: 0;
		right: 50px + 5px;
		position: absolute;
		top: 0;
	}
}
.#{$prefix}txc {
	&#{&}-slt {
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
	}
}
