.#{$prefix}sc {
	@include fill();

	cursor: pointer;

	&:hover &_outer {
		background-color: $input-hover-background-color;
	}
	&:hover &_inner {
		background-color: $input-hover-foreground-color;
	}

	&#{&}-disabled {
		cursor: default;
		opacity: 0.5;
	}
	&#{&}-disabled:hover &_outer {
		background-color: $input-background-color;
	}
	&#{&}-disabled:hover &_inner {
		background-color: $input-foreground-color;
	}

	@at-root {
		&_outer {
			@include fill();

			background-color: $input-background-color;
			border-radius: 2px;
			overflow: hidden;
		}
		&_inner {
			background-color: $input-foreground-color;
			bottom: 0;
			left: 0;
			position: absolute;
			top: 0;
		}
	}
}
