.#{$prefix}tc {
	background-color: $input-background-color;
	border-radius: 2px;
	height: $input-height;
	position: relative;

	&:focus {
		background-color: $input-focus-background-color;
	}
	&:hover {
		background-color: $input-hover-background-color;
	}
	&:hover &_input {
		color: $input-hover-foreground-color;
	}

	@at-root {
		&_input {
			background-color: transparent;
			border-width: 0;
			color: $input-foreground-color;
			height: $input-height;
			line-height: $input-height;
			outline: none;
			padding: 0 5px;
			width: 100%;
		}
	}
}
