.#{$prefix}tc {
	height: $input-height;
	position: relative;

	@at-root {
		&_input {
			background-color: $input-background-color;
			border-radius: 2px;
			border-width: 0;
			color: $input-foreground-color;
			height: $input-height;
			line-height: $input-height;
			outline: none;
			padding: 0 5px;
			transition: background-color 0.2s ease-out;
			width: 100%;

			&:focus {
				background-color: $input-focus-background-color;
			}
			&:hover {
				background-color: $input-hover-background-color;
				color: $input-hover-foreground-color;
			}
		}
	}
}
