.#{$prefix}tc {
	height: $input-height;
	position: relative;

	&#{&}-disabled {
		opacity: 0.5;
	}
	&#{&}-disabled &_input:hover {
		background-color: $input-background-color;
		color: $input-foreground-color;
	}

	@at-root {
		&_input {
			background-color: $input-background-color;
			border-radius: 2px;
			border-width: 0;
			color: $input-foreground-color;
			height: $input-height;
			line-height: $input-height;
			outline: none;
			padding: 0 5px;
			width: 100%;

			&:focus {
				background-color: $input-focus-background-color;
			}
			&:hover {
				background-color: $input-hover-background-color;
				color: $input-hover-foreground-color;
			}
		}
	}
}
