.#{$prefix}tm {
	height: $input-height;
	position: relative;

	@at-root {
		&_input {
			background-color: $input-background-color;
			border-radius: 2px;
			border-width: 0;
			color: rgba($input-foreground-color, 0.5);
			height: $input-height;
			line-height: $input-height;
			outline: none;
			padding: 0 5px;
			width: 100%;
		}
	}
}
