$prefix: 'tp';

// Colors
$key-hue: 220deg;
$background-color: hsl($key-hue, 10%, 20%);
$prop-view-background-color: adjust-color($background-color, $saturation: -5%, $lightness: +12%);
$input-background-color: adjust-color($prop-view-background-color, $lightness: +8%);
$input-foreground-color: hsla($key-hue, 10%, 83%, 1.0);

$folder-view-title-color: hsl($key-hue, 10%, 95%);
$input-hover-foreground-color: lighten($input-foreground-color, 10%);
$input-active-background-color: lighten($input-background-color, 20%);
$input-focus-background-color: lighten($input-background-color, 5%);
$input-hover-background-color: lighten($input-background-color, 10%);
$prop-view-label-color: hsla($key-hue, 10%, 80%, 0.7);
$prop-view-separator-color: darken($prop-view-background-color, 5%);

// Geometry
$input-height: 23px;

$checkbox-control-outer-size: $input-height;
$color-palette-control-outer-size: $input-height;
$folder-view-title-height: $input-height + 10px;
$folder-view-arrow-size: 10px;
$graph-height: $input-height * 3;
$list-control-arrow-size: 10px;
$log-height: $input-height * 3;
$prop-view-label-height: 22px;
$slider-control-height: $input-height;
