$prefix: 'ss';

// Colors
$background-color: hsl(0, 0, 10%);
$folder-view-title-color: hsl(0, 0, 50%);
$folder-view-title-hover-color: lighten($folder-view-title-color, 10%);
$input-background-color: hsl(0, 0, 25%);
$input-foreground-color: hsl(0, 0, 90%);
$input-hover-foreground-color: lighten($input-foreground-color, 10%);
$input-focus-background-color: lighten($input-background-color, 5%);
$input-hover-background-color: lighten($input-background-color, 10%);
$prop-view-background-color: hsl(0, 0, 20%);
$prop-view-label-color: hsl(0, 0, 80%);
$prop-view-separator-color: darken($prop-view-background-color, 3%);

// Geometry
$checkbox-control-outer-size: 24px;
$color-palette-control-outer-size: 24px;
$folder-view-title-height: 30px;
$folder-view-arrow-size: 10px;
$input-height: 24px;
$list-control-arrow-size: 10px;
$prop-view-label-height: 22px;
$slider-control-height: 24px;
$graph-height: $input-height * 3;
