@import 'vars';
@import 'mixins';
@import 'data';

.#{$prefix} {
	background-color: $background-color;
	font-size: 11px;

	* {
		box-sizing: border-box;
	}
}

.#{$prefix}DefaultContainer {
	width: 250px;
	position: absolute;
	right: 0;
	top: 0;
}

// View
@import 'folder_view';
@import 'property_view';
// Control
@import 'checkbox_control';
@import 'color_palette_control';
@import 'color_palette_text_control';
@import 'list_control';
@import 'slider_control';
@import 'slider_text_control';
@import 'text_control';
// Monitor
@import 'graph_monitor';
@import 'log_monitor';
@import 'text_monitor';
