@import 'vars';
@import 'mixins';
@import 'data';

.#{$prefix}DefaultContainer {
	width: 250px;
	position: absolute;
	right: 0;
	top: 0;
}
.#{$prefix}noTransition,
.#{$prefix}noTransition * {
	transition: all 0s ease !important;
}

// View
@import 'button_view';
@import 'folder_view';
@import 'property_view';
@import 'root_view';
@import 'root_folder_view';
@import 'separator_view';
// Control
@import 'checkbox_control';
@import 'color_palette_control';
@import 'color_palette_text_control';
@import 'list_control';
@import 'slider_control';
@import 'slider_text_control';
@import 'text_control';
// Monitor
@import 'graph_monitor';
@import 'log_monitor';
@import 'multiline_text_monitor';
@import 'text_monitor';
