.button {
	background-color: $button-bg-color;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(black, 0.05);
	color: $button-fg-color;
	display: inline-block;
	font-weight: 500;
	height: 32px;
	line-height: 32px;
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;
	text-decoration: none;

	&:hover {
		background-color: $button-hover-bg-color;
	}
	&:active {
		background-color: $button-active-bg-color;
	}

	&_icon {
		font-size: 0.9em;
		margin-right: 0.5em;

		&#{&}-after {
			margin-left: 0.5em;
			margin-right: 0;
		}
	}
}
