.paneCatalog {
	background-color: var(--bg-color-secondary);
	border-radius: 6px;
	display: grid;
	gap: 32px;
	grid-template-columns: repeat(auto-fit, 256px);
	justify-content: center;
	padding: 32px;

	&#{&}-theming {
		background-color: hsl(230, 7%, 57%);
	}
}
