$prefix: 'common';

.#{$prefix}-demo {
	@include wide() {
		display: flex;
	}

	&_codeLayout {
		background-color: $code-block-bg-color;
		flex: 3;
	}
	&_resultLayout {
		background-color: $demo-result-bg-color;
		flex: 2;
		padding: 32px;
		text-align: center;

		@include nonwide() {
			padding: 16px;
		}

		&#{&}-withJson {
			& > * + * {
				margin-top: 16px;
			}
		}
	}
	&_resultJsonLayout {
		box-sizing: border-box;
		padding-left: 8px;
		padding-right: 8px;

		@include wide() {
			display: inline-block;
			min-width: 256px;
			vertical-align: middle;
		}
	}
	&_resultJson {
		display: inline-block;
		font-size: 0.8rem;
		opacity: 0.7;
		overflow: hidden;
		text-align: left;
	}
}
