.menu {
	background-color: $base-bg-color;
	overflow-y: auto;
	position: fixed;
	width: $global-nav-width;
	z-index: $z-index-global-nav;

	@include wide() {
		bottom: 32px;
		top: 32px;
	}
	@include nonwide() {
		bottom: 0;
		left: -$global-nav-width;
		top: $global-header-height;
		transform: none;

		&#{&}-expanded {
			transform: translateX($global-nav-width);
		}
	}

	&#{&}-loaded {
		transition: transform 0.2s ease-in-out;
	}

	&_logoLayout {
		border-bottom: rgba($base-fg-color, 0.1) solid 2px;
		height: $global-header-height;
		line-height: $global-header-height;
		padding-left: 32px;
		padding-right: 32px;

		@include nonwide() {
			display: none;
		}
	}
	&_list {
		padding-top: 24px;
		padding-bottom: 24px;
	}
}
.menuItem {
	&_anchor {
		color: $base-fg-color;
		display: block;
		font-weight: 500;
		margin-top: 24px;
		padding: 8px 32px;
		text-decoration: none;

		@include wide() {
			border-radius: 6px;
		}

		&#{&}-active {
			background-color: $base-bg-color-secondary;
			color: $base-fg-color;
		}
		&:hover {
			background-color: $base-bg-color-secondary;
		}

		.fa-external-link-square-alt {
			margin-left: 0.5em;
		}
	}
	&:first-child &_anchor {
		margin-top: 0;
	}
}

.submenuItem {
	&_anchor {
		color: $base-fg-color-secondary;
		display: block;
		padding: 8px 16px 8px 32px;
		text-decoration: none;

		@include wide() {
			border-radius: 6px;
		}

		&#{&}-active {
			background-color: $base-bg-color-secondary;
		}
		&:hover {
			background-color: $base-bg-color-secondary;
			color: $base-fg-color;
		}
	}
}
