$prefix: 'common';

.#{$prefix}-globalHeader {
	background-color: $global-header-bg-color;
	box-shadow: 0 2px 4px rgba(black, 0.05);
	color: $global-header-fg-color;
	left: 0;
	line-height: $global-header-height;
	position: fixed;
	right: 0;
	top: 0;
	z-index: $z-index-global-header;

	@include pc() {
		height: $global-header-height;
	}
	@include sp() {
		height: $global-header-height * 2;
	}

	&_innerLayout {
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		position: relative;

		@include pc() {
			max-width: 1024px;
			padding-left: 128px;
			padding-right: 128px;
		}
		@include sp() {
			padding-left: 16px;
			padding-right: 16px;
		}
	}
	&_logoLayout {
		display: inline-block;
		margin-right: 1em;
	}
	&_menuLayout {
		@include pc() {
			display: inline-block;
		}
		@include sp() {
			text-align: center;
		}
	}
	&_buttonLayout {
		font-size: 0.9em;
		position: absolute;
		top: 0;

		@include pc() {
			right: 128px;
		}
		@include sp() {
			right: 16px;
		}
	}
}
.#{$prefix}-globalHeaderMenu {
	white-space: nowrap;

	&_item {
		display: inline-block;

		a {
			color: inherit;
			display: block;
			padding: 0 1em;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
		&#{&}-active a {
			font-weight: bold;

			@include pc() {
				background-color: $page-header-bg-color;
			}
			@include sp() {
				background: linear-gradient(
					to bottom,
					rgba($page-header-bg-color, 0),
					$page-header-bg-color
				);
			}
		}
		.fa-external-link-square-alt {
			margin-left: 0.5em;
		}
	}
}
