.globalFooter {
	text-align: center;

	&_innerLayout {
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 16px;
		padding-top: 16px;
	}
	&_copyLayout {
		color: $base-fg-color-secondary;
		font-size: 0.8rem;

		a {
			color: inherit;
		}
	}
}
