$prefix: 'hljs';

.#{$prefix}-comment {
	color: hsl($base-hue, 7%, 60%);
}
.#{$prefix}-keyword {
	color: hsl(225, 43%, 47%);
}
.#{$prefix}-literal,
.#{$prefix}-number {
	color: hsl(270, 43%, 58%);
}
.#{$prefix}-string {
	color: hsl($base-hue, 15%, 50%);
}
