.main {
	overflow: hidden;

	&_globalHeaderLayout {
		@include wide() {
			display: none;
		}
		@include nonwide() {
			height: $global-header-height * 2;
		}
	}
	&_mainLayout {
		overflow: hidden;
		position: absolute;
		right: 0;

		@include wide() {
			left: $global-nav-width;
			top: 0;
		}
		@include nonwide() {
			left: 0;
			top: $global-header-height;
		}
	}
	&_pageHeaderLayout,
	&_innerLayout {
		@include document();

		flex: 1;
	}
	&_innerLayout {
		@include responsive-inner();

		@include wide() {
			padding-bottom: 64px;
			padding-top: 64px;
		}
		@include nonwide() {
			padding-bottom: 32px;
			padding-top: 32px;
		}
	}
	&_mediaLayout {
		margin-bottom: 1em;
		margin-top: 1em;
	}
}

.paneContainer {
	display: inline-block;
	flex-grow: 0;
	flex-shrink: 0;
	min-width: 256px;
	vertical-align: middle;

	& + & {
		margin-top: 16px;
	}

	&#{&}-console {
		--tp-base-background-color: transparent;
		--tp-base-shadow-color: transparent;
		--tp-button-background-color: hsla(0, 0%, 0%, 0.05);
		--tp-button-background-color-active: hsla(0, 0%, 0%, 0.2);
		--tp-button-background-color-focus: hsla(0, 0%, 0%, 0.15);
		--tp-button-background-color-hover: hsla(0, 0%, 0%, 0.1);
		--tp-button-foreground-color: hsla(0, 0%, 0%, 0.3);
		--tp-folder-background-color: hsla(0, 0%, 0%, 0.05);
		--tp-folder-background-color-active: hsla(0, 0%, 0%, 0.2);
		--tp-folder-background-color-focus: hsla(0, 0%, 0%, 0.15);
		--tp-folder-background-color-hover: hsla(0, 0%, 0%, 0.1);
		--tp-folder-foreground-color: hsla(0, 0%, 0%, 0.3);
		--tp-input-background-color: hsla(0, 0%, 0%, 0.05);
		--tp-input-background-color-active: hsla(0, 0%, 0%, 0.2);
		--tp-input-background-color-focus: hsla(0, 0%, 0%, 0.15);
		--tp-input-background-color-hover: hsla(0, 0%, 0%, 0.1);
		--tp-input-foreground-color: hsla(0, 0%, 0%, 0.3);
		--tp-input-guide-color: hsla(0, 0%, 0%, 0.1);
		--tp-monitor-background-color: hsla(0, 0%, 0%, 0.05);
		--tp-monitor-foreground-color: hsla(0, 0%, 0%, 0.3);
		--tp-label-foreground-color: hsla(0, 0%, 0%, 0.3);
		--tp-separator-color: hsla(0, 0%, 0%, 0.1);
	}
}

.codeBlock {
	background-color: $code-block-bg-color;
	border-radius: 6px;
	position: relative;

	pre {
		overflow: auto;
		padding: 32px;

		@include nonwide() {
			padding: 16px;
		}

		code {
			font-size: 0.9rem;
			font-weight: 500;
		}
	}
	&_title {
		background-color: $code-block-title-bg-color;
		color: $code-block-title-fg-color;
		font-size: 0.8rem;
		font-weight: 500;
		padding: 0.25em 0.5em;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.support {
	background-color: $support-bg-color;
	padding: 32px;

	@include nonwide() {
		padding: 16px;
	}

	&_buttonLayout {
		margin-top: 32px;
		text-align: center;

		@include nonwide() {
			margin-top: 16px;
		}
	}
}

.paint {
	background-color: $demo-result-bg-color;
	border-radius: 6px;
	overflow: hidden;

	&_gui {
		@include wide() {
			display: flex;
		}
	}
	&_controller {
		background-color: $pane-bg-color;

		@include nonwide() {
			.paneContainer {
				width: 100%;
			}
		}

		.tp-rotv {
			border-top-right-radius: 0;
			box-shadow: 0 0 0 transparent;
		}
	}
	&_preview {
		align-items: center;
		display: flex;
		flex: 1;
		justify-content: center;
		overflow: hidden;
		padding: 32px;
		position: relative;

		.tp-rotv {
			position: relative;
		}
		.tp-cswtxtiv {
			height: 20px + 168px !important;
		}
		.tp-p2dpadtxtiv {
			height: 20px + 144px !important;
		}
		.tp-clpiv,
		.tp-p2dpadiv {
			display: block !important;
			visibility: visible !important;
		}
	}
	&_bgImage {
		background-color: black;
		background: url(https://source.unsplash.com/74ft3aciAY0/900x1600) no-repeat
			center;
		background-size: cover;
		bottom: -16px;
		left: -16px;
		position: absolute;
		right: -16px;
		top: -16px;
	}
}

.photoCredit {
	bottom: 8px;
	color: rgba(white, 0.5);
	font-size: 0.6rem;
	mix-blend-mode: exclusion;
	position: absolute;
	right: 8px;

	a {
		color: currentColor;
	}
}
