$prefix: 'common';

.#{$prefix}-main {
	overflow: hidden;

	&_globalHeaderLayout {
		@include wide() {
			display: none;
		}
		@include nonwide() {
			height: $global-header-height * 2;
		}
	}
	&_mainLayout {
		overflow: hidden;
		position: absolute;
		right: 0;

		@include wide() {
			left: $global-nav-width;
			top: 0;
		}
		@include nonwide() {
			left: 0;
			top: $global-header-height;
		}
	}
	&#{&}-index &_mainLayout {
		left: 0;
	}
	&_pageHeaderLayout,
	&_innerLayout {
		@include document();

		flex: 1;
	}
	&_innerLayout {
		@include responsive-inner();

		@include wide() {
			padding-bottom: 64px;
			padding-top: 64px;
		}
		@include nonwide() {
			padding-bottom: 32px;
			padding-top: 32px;
		}
	}
	&_mediaLayout {
		margin-bottom: 1em;
		margin-top: 1em;
	}
}

.#{$prefix}-paneContainer {
	display: inline-block;
	flex-grow: 0;
	flex-shrink: 0;
	min-width: 256px;
	vertical-align: middle;
}

.#{$prefix}-codeBlock {
	background-color: $code-block-bg-color;
	border-radius: 6px;
	position: relative;

	pre {
		overflow: auto;
		padding: 32px;

		@include nonwide() {
			padding: 16px;
		}

		code {
			font-size: 0.9rem;
			font-weight: 500;
		}
	}
	&_title {
		background-color: $code-block-title-bg-color;
		color: $code-block-title-fg-color;
		font-size: 0.8rem;
		font-weight: 500;
		padding: 0.25em 0.5em;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.#{$prefix}-support {
	background-color: $support-bg-color;
	padding: 32px;

	@include nonwide() {
		padding: 16px;
	}

	&_buttonLayout {
		margin-top: 32px;
		text-align: center;

		@include nonwide() {
			margin-top: 16px;
		}
	}
}

.#{$prefix}-themes {
	background-color: var(--themes-background-color);
	border-radius: 6px;
	overflow: hidden;
	position: relative;

	&_mask {
		bottom: 0;
		position: absolute;
		top: 0;
		width: 16px;
		z-index: $z-index-themes-mask;

		&#{&}-start {
			background-color: var(--themes-background-color);
			box-shadow: 0 0 16px 16px var(--themes-background-color);
			left: -16px;
		}
		&#{&}-end {
			background-color: var(--themes-background-color);
			box-shadow: 0 0 16px 16px var(--themes-background-color);
			right: -16px;
		}
	}

	&_themesLayout {
		font-size: 0;
		overflow-x: scroll;
		padding: 32px;
		white-space: nowrap;
	}
	&_themeLayout {
		display: inline-block;
		vertical-align: top;

		& + & {
			margin-left: 16px;
		}
	}
}
