.pageHeader {
	background-color: $base-bg-color-secondary;
	position: relative;

	&,
	&_sketchContainer,
	&_sketchContainer canvas {
		@include wide() {
			border-radius: 6px;
		}
	}
	&_sketchContainer {
		bottom: 0;
		left: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;

		svg {
			display: block;
			height: 100%;
			left: 0;
			overflow: hidden;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
	&_innerLayout {
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		position: relative;

		@include wide() {
			align-items: center;
			display: flex;
			justify-content: space-between;
			padding: 64px;
			max-width: 800px;
		}
		@include middle() {
			max-width: 480px;
		}
		@include nonwide() {
			display: block;
			padding: 64px 32px;
		}
	}
	&_titleLayout {
		@include wide() {
			padding-bottom: 32px;
			padding-top: 32px;
		}
		@include nonwide() {
			text-align: center;
		}
	}
	&_title {
		font-size: 3rem;

		@include nonwide() {
			font-size: 2rem;
		}
	}
	&_paneLayout {
		@include wide() {
			flex-grow: 0;
			flex-shrink: 0;
			margin-left: 32px;
		}
		@include nonwide() {
			margin-top: 32px;
			text-align: center;
		}
	}
}
