$prefix: 'common';

.#{$prefix}-pageHeader {
	background-color: $page-header-bg-color;
	position: relative;

	&_sketchContainer {
		bottom: 0;
		left: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;

		canvas {
			display: block;
			height: 100%;
			left: 0;
			overflow: hidden;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
	&_innerLayout {
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		position: relative;

		@include pc() {
			display: flex;
			justify-content: space-between;
			max-width: 1024px;
			padding: 64px 128px;
		}
		@include sp() {
			padding: 32px 16px;
		}
	}
	&_title {
		font-size: 2rem;
		font-weight: bold;
	}
	&_paneLayout {
		@include pc() {
			flex-grow: 0;
			flex-shrink: 0;
			margin-left: 32px;
		}
		@include sp() {
			margin-top: 32px;
			text-align: center;
		}
	}
}
