.paneContainer {
	flex-grow: 0;
	flex-shrink: 0;
	margin-left: auto;
	margin-right: auto;
	width: 256px;

	& + & {
		margin-top: 16px;
	}

	&#{&}-console {
		--tp-base-background-color: transparent;
		--tp-base-shadow-color: transparent;
		--tp-button-background-color: #{#{rgba($base-guide-color, 0.05)}};
		--tp-button-background-color-active: #{#{rgba($base-guide-color, 0.05)}};
		--tp-button-background-color-focus: #{#{rgba($base-guide-color, 0.05)}};
		--tp-button-background-color-hover: #{rgba($base-guide-color, 0.05)};
		--tp-button-foreground-color: #{rgba($base-guide-color, 0.4)};
		--tp-folder-background-color: #{rgba($base-guide-color, 0.05)};
		--tp-folder-background-color-active: #{rgba($base-guide-color, 0.05)};
		--tp-folder-background-color-focus: #{rgba($base-guide-color, 0.05)};
		--tp-folder-background-color-hover: #{rgba($base-guide-color, 0.05)};
		--tp-folder-foreground-color: #{rgba($base-guide-color, 0.4)};
		--tp-input-background-color: #{rgba($base-guide-color, 0.05)};
		--tp-input-background-color-active: #{rgba($base-guide-color, 0.05)};
		--tp-input-background-color-focus: #{rgba($base-guide-color, 0.05)};
		--tp-input-background-color-hover: #{rgba($base-guide-color, 0.05)};
		--tp-input-foreground-color: #{rgba($base-guide-color, 0.4)};
		--tp-input-guide-color: #{rgba($base-guide-color, 0.1)};
		--tp-monitor-background-color: #{rgba($base-guide-color, 0.05)};
		--tp-monitor-foreground-color: #{rgba($base-guide-color, 0.4)};
		--tp-label-foreground-color: #{rgba($base-guide-color, 0.4)};
		--tp-separator-color: #{rgba($base-guide-color, 0.1)};

		.tp-rotv {
			border: #{rgba($base-guide-color, 0.1)} dashed 1px;
		}
	}
}
