.paneContainer {
	flex-grow: 0;
	flex-shrink: 0;
	margin-left: auto;
	margin-right: auto;
	width: 256px;

	& + & {
		margin-top: 16px;
	}

	&#{&}-console {
		--tp-base-background-color: transparent;
		--tp-base-shadow-color: transparent;
		--tp-button-background-color: #{unquote(
				'hsla(var(--guide-color-comps), 0.05)'
			)};
		--tp-button-background-color-active: #{unquote(
				'hsla(var(--guide-color-comps), 0.05)'
			)};
		--tp-button-background-color-focus: #{unquote(
				'hsla(var(--guide-color-comps), 0.05)'
			)};
		--tp-button-background-color-hover: #{unquote(
				'hsla(var(--guide-color-comps), 0.05)'
			)};
		--tp-button-foreground-color: #{unquote(
				'hsla(var(--guide-color-comps), 0.4)'
			)};
		--tp-folder-background-color: #{unquote(
				'hsla(var(--guide-color-comps), 0.05)'
			)};
		--tp-folder-background-color-active: #{unquote(
				'hsla(var(--guide-color-comps), 0.05)'
			)};
		--tp-folder-background-color-focus: #{unquote(
				'hsla(var(--guide-color-comps), 0.05)'
			)};
		--tp-folder-background-color-hover: #{unquote(
				'hsla(var(--guide-color-comps), 0.05)'
			)};
		--tp-folder-foreground-color: #{unquote(
				'hsla(var(--guide-color-comps), 0.4)'
			)};
		--tp-input-background-color: #{unquote(
				'hsla(var(--guide-color-comps), 0.05)'
			)};
		--tp-input-background-color-active: #{unquote(
				'hsla(var(--guide-color-comps), 0.05)'
			)};
		--tp-input-background-color-focus: #{unquote(
				'hsla(var(--guide-color-comps), 0.05)'
			)};
		--tp-input-background-color-hover: #{unquote(
				'hsla(var(--guide-color-comps), 0.05)'
			)};
		--tp-input-foreground-color: #{unquote(
				'hsla(var(--guide-color-comps), 0.4)'
			)};
		--tp-monitor-background-color: #{unquote(
				'hsla(var(--guide-color-comps), 0.05)'
			)};
		--tp-monitor-foreground-color: #{unquote(
				'hsla(var(--guide-color-comps), 0.4)'
			)};
		--tp-label-foreground-color: #{unquote(
				'hsla(var(--guide-color-comps), 0.4)'
			)};
		--tp-separator-color: #{unquote('hsla(var(--guide-color-comps), 0.1)')};

		.tp-rotv {
			border: #{unquote('hsla(var(--guide-color-comps), 0.1) dashed 1px')};
		}
	}
}
