$prefix: 'common';

.#{$prefix}-rel {
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 1em;
	margin-top: 1em;
}
.#{$prefix}-relItem {
	align-items: stretch;
	display: flex;

	a#{&}_anchor {
		background-color: $page-header-bg-color;
		border-radius: 6px;
		color: $base-fg-color;
		display: flex;
		justify-content: center;
		flex: 1;
		flex-direction: column;
		text-decoration: none;

		&:focus,
		&:hover {
			background-color: darken($page-header-bg-color, 2%);
		}
		@include wide() {
			padding: 16px 32px;
		}
		@include nonwide() {
			padding: 16px;
		}
	}
	&_title {
		font-weight: 500;
	}
	&_detail {
		color: $base-fg-color-secondary;
		line-height: 1.3;
		margin-top: 8px;
	}

	.fa-external-link-square-alt {
		margin-left: 0.5em;
	}
}
