.#{$prefix}-fldv {
	&_t {
		@extend %folder_title;
	}
	&#{&}-expanded &_t {
		transition: border-radius 0s;
	}
	&_m {
		@extend %folder_mark;
	}
	&#{&}-expanded > &_t > &_m {
		@extend %folder_mark-expanded;
	}
	&_c {
		@extend %folder_container;

		border-left: var(--folder-background-color) solid 4px;
	}
	&_t:hover + &_c {
		border-left-color: var(--folder-background-color-hover);
	}
	&_t:focus + &_c {
		border-left-color: var(--folder-background-color-focus);
	}
	&_t:active + &_c {
		border-left-color: var(--folder-background-color-active);
	}
	&#{&}-expanded > &_c {
		@extend %folder_container-expanded;
	}

	// Subfolder
	&_c > & {
		margin-left: 4px;
	}
	&_c > & > &_t {
		border-top-left-radius: $inner-border-radius;
		border-bottom-left-radius: $inner-border-radius;
	}
	&_c > &#{&}-expanded > &_t {
		border-bottom-left-radius: 0;
	}
	&_c & > &_c {
		border-bottom-left-radius: $inner-border-radius;
	}
}
