%button {
	@extend %resetUserAgent;

	background-color: var(--button-background-color);
	border-radius: $input-border-radius;
	color: var(--button-foreground-color);
	cursor: pointer;
	display: block;
	font-weight: bold;
	height: var(--unit-size);
	line-height: var(--unit-size);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	&:hover {
		background-color: var(--button-background-color-hover);
	}
	&:focus {
		background-color: var(--button-background-color-focus);
	}
	&:active {
		background-color: var(--button-background-color-active);
	}
}
